<section class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <h1 class="hero__top-title heading-h1">
        Everything you need to get the attention of your audience
      </h1>
      <div class="hero__top-content">
        <div class="hero__top-descr text-p-subtitle">
          <p class="hero__top-descr-text heading-h5">
            Our digital agency helps clients develop, implement and maintain
            successful digital marketing strategies across all channels. Also
            work with you to build your website and create online businesses
            that grow.
          </p>
        </div>
        <a class="hero__spinning" href="#">
          <img
            loading="lazy"
            class="hero__spinning-arrow"
            width="59"
            height="59"
            src="/assets/icons/about-hero-arrow-icon.svg"
            alt="arrow pointing to the right corner"
          />
          <img
            loading="lazy"
            class="hero__spinning-text"
            width="127"
            height="126"
            src="/assets/icons/about-hero-text-icon.svg"
            alt="text that rotates around the arrow"
          />
        </a>
      </div>
    </div>
    <div class="swiper hero__slider">
      <ul class="hero__wrapper-list swiper-wrapper">
        <li class="swiper-slide hero__slider-item">
          <img
            loading="lazy"
            class="hero__slide-item-img"
            width="502"
            height="629"
            src="/assets/images/about-hero-slider-first.jpg"
            alt="a guy is sitting in an office and writing an article"
          />
        </li>
        <li class="swiper-slide hero__slider-item hero__slider-item">
          <img
            loading="lazy"
            class="hero__slider-item-img hero__slider-item-img-special"
            width="502"
            height="629"
            src="/assets/images/about-hero-slider-second.jpg"
            alt="teacher and students sitting during a lesson in classroom"
          />
          <h3 class="hero__slider-item-title heading-h5">What we believe in</h3>
          <p class="hero__slider-item-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="hero__slider-item-btn button-form" href="#">See Details -></a>
        </li>
        <li class="swiper-slide hero__slider-item">
          <img
            loading="lazy"
            class="hero__slide-item-img"
            width="502"
            height="629"
            src="/assets/images/about-hero-slider-third.jpg"
            alt="two girls are sitting in front of a laptop"
          />
        </li>
        <li class="swiper-slide hero__slider-item">
          <img
            loading="lazy"
            class="hero__slide-item-img"
            width="502"
            height="629"
            src="/assets/images/about-hero-slider-first.jpg"
            alt="a guy is sitting in an office and writing an article"
          />
        </li>
        <li class="swiper-slide hero__slider-item hero__slider-item">
          <img
            loading="lazy"
            class="hero__slider-item-img hero__slider-item-img-special"
            width="502"
            height="629"
            src="/assets/images/about-hero-slider-second.jpg"
            alt="teacher and students sitting during a lesson in classroom"
          />
          <h3 class="hero__slider-item-title heading-h5">What we believe in</h3>
          <p class="hero__slider-item-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="hero__slider-item-btn button-form" href="#">See Details -></a>
        </li>
      </ul>
    </div>
  </div>
</section>
