<section class="article">
  <div class="container article__container">
    <div class="article__top">
      <div class="article__top-left">
        <h2 class="article__top-title heading-h2">Articles</h2>
        <p class="article__top-text text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="article__controls">
        <div class="swiper-button-prev article__controls-prev article__controls-btn">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </div>
        <div class="swiper-button-next article__controls-next article__controls-btn ">
          <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
            fill="#CED1D8"
          />
        </svg>
        </div>
      </div>
    </div>
    <div class="article__slider swiper">
      <ul class="article__slide swiper-wrapper">
        <li class="article__slide-item swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="577"
            src="/assets/images/article-slider-img-first.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3 class="article__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="article__slide-descr">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>
        <li class="article__slide-item swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="329"
            src="/assets/images/article-slider-img-second.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3 class="article__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="article__slide-descr">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>
        <li class="article__slide-item article__slide-item-large swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="695"
            src="/assets/images/article-slider-img-third.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3
            class="article__slide-title article__slide-title-large heading-h5"
          >
            Elements that may be missed when designing the UI
          </h3>
          <p class="article__slide-descr article__slide-descr-large">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>
        <li class="article__slide-item swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="577"
            src="/assets/images/article-slider-img-first.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3 class="article__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="article__slide-descr">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>
        <li class="article__slide-item swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="329"
            src="/assets/images/article-slider-img-second.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3 class="article__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="article__slide-descr">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>
        <li class="article__slide-item article__slide-item-large swiper-slide">
          <img
            loading="lazy"
            class="article__slide-img"
            width="405"
            height="695"
            src="/assets/images/article-slider-img-third.jpg"
            alt="a guy and a girl in the office are sitting in front of a laptop and discussing work issues"
          />

          <h3
            class="article__slide-title article__slide-title-large heading-h5"
          >
            Elements that may be missed when designing the UI
          </h3>
          <p class="article__slide-descr article__slide-descr-large">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="article__slide-btn button-form" href="#">Read More</a>
        </li>

      </ul>
    </div>
  </div>
</section>
