<section class="hero hero-decor">
  <div class="container hero__container">
    <div class="hero__top">
      <h1 class="hero__title heading-h1">Activity & Updates</h1>
      <div class="hero__text text-p-subtitle heading-h5">
        <p class="hero__text-content">
          Our biggest challenge is making sure we're always designing and
          building products that will help you run your business better.
        </p>
      </div>
    </div>
    <div class="hero__gallery">
      <ul class="hero__nav-list text-p-default">
        <li class="hero__nav-item">
          <a href="#tab1" class="hero__nav-link hero__nav-link--active"
            >View all</a
          >
        </li>
        <li class="hero__nav-item">
          <a href="#tab2" class="hero__nav-link">Design</a>
        </li>
        <li class="hero__nav-item">
          <a href="#tab3" class="hero__nav-link">Articles</a>
        </li>
        <li class="hero__nav-item">
          <a href="#tab4" class="hero__nav-link">Product</a>
        </li>
        <li class="hero__nav-item">
          <a href="#tab5" class="hero__nav-link">Software Development</a>
        </li>
        <li class="hero__nav-item">
          <a href="#tab6" class="hero__nav-link">Customer Success</a>
        </li>
      </ul>

      <div id="tab1" class="swiper gallery__slider gallery__slider--active">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
      <div id="tab2" class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          

          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
      <div id="tab3" class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
      <div id="tab4" class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>

          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
      <div id="tab5" class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>

          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>

          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
      <div id="tab6" class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge  heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip  gallery__slider-descrip-short">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-second.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
              <p class="gallery__slider-time-author">by : Albert Sans</p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="gallery__slider-descrip">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-third.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Using Grid in website design
            </h3>
            <p class="gallery__slider-descrip gallery__slider-descrip-short">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide swiper__gallery-slide gallery__slide">
            <img
              class="gallery__slider-img"
              loading="lazy"
              width="515"
              height="428"
              alt="girl in a good mood sitting in front of desk with a laptop"
              src="/assets/images/overview-gallery-first.jpg"
            />
            <div class="gallery__slider-date">
              <p class="gallery__slider-time text-p-small">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </p>
            </div>
            <h3 class="gallery__slider-edge heading-h5">
              Practice making User Flow
            </h3>
            <p class="gallery__slider-descrip">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
