@mixin absolute  {
   position: absolute;
   inset: 0;

}

.body {
  @include absolute;

  &__title {
    color: blue;
    @include absolute;
    transition: all .5s;

    &:hover {
      color: black;
      transition: all .5s;
    }
    @media(max-width: 850px){
      color: rgb(41, 41, 8);
    }
  }
}
